@import url("https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 214, 219, 220;
  --font-tenor_sans: "Tenor Sans", sans-serif;
  --font-cormorant_garamond: "Cormorant Garamond", serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-tenor_sans);
}

div,
span,
p,
a,
li,
button {
  font-family: var(--font-cormorant_garamond);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 200, 200, 200;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/*  background: linear-gradient(
    109.6deg,
    rgb(0, 0, 0) 11.2%,
    rgb(11, 132, 145) 91.1%
  ); */
